DATABASE_URL=postgresql+asyncpg://cpuser:cpdevpass@db:5432/competitieplanner
SECRET_KEY=akida9diik204g53d4us15xqp9phopcl4be6o3tiuq6pgo87yihtx4vdsrkwcmh3
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30
SUPER_ADMIN_EMAIL=ruben@rabar.nl
CORS_ORIGINS=["https://admin.competitie-planner.nl","https://*.competitie-planner.nl"]